@import 'vars',
        'global';


//start header

.header{
  &__top{
  background-color: $header-bg;
  }
  &__top-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  }
  &__box{
    margin-left: auto;
    margin-right: 15px;
  }
  &__btn{
    background-color: $btn;
    text-align: center;
    color: #fff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    font-size: 14px;
    padding: 10px 18px;
  }
  &__seller{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-info{
      display: flex;
      flex-direction: column;
    }
  }
  &__avatar{
    min-width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 20px;
  }
  &__seller-name{
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: $grey;
  }
  &__seller-money{
    font-size: 15px;
    font-weight: 400;
    color: $btn;
  }
}

.header__menu-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 15px;
    a{
      color: $grey;
      margin-right: 30px;
      font-weight: 500;
    } 
  }
}

.header__menu-search{
  max-width: 360px;
  position: relative;
  width: 100%;
  input{
    width: 100%;
    display: block;
    border-radius: 23px;
    height: 45px;
    border: 1px solid #d9dfe5;
    padding-left: 20px;
    padding-right: 75px;
    &::placeholder{
      color: #898f96;
      font-weight: 400;
    }
  }
  button{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: $btn;
    border-radius: 23px;
    height: 100%;
    padding: 10px 25px;
    cursor: pointer;
  }
}

//end header
//start search
.search{
  background-color: #2b2b2b;
  min-height: 725px;
  text-align: center;
  position: relative;
  margin-bottom: 185px;
  &__gradient{
    background: linear-gradient( 180deg, rgb(0,48,222) 0%, rgb(23,69,237) 54%, rgb(46,90,251) 100%);
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  &__inner{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }
  &__text{
    padding: 170px 0 45px;
    color: #fff;
    &-top{
      font-size: 60px;
      line-height: 70px;
      font-weight: 400;
      margin: 0;
    }
    &-title{
      margin: 0;
      font-size: 60px;
      line-height: 70px;
      font-weight: 600;
    }
    &-bottom{
      font-size: 20px;
      line-height: 72px;
      font-weight: 500;
      margin: 0;
    }
  }
  &-btn{
    text-align: center;
    color: #fff;
    border-radius: 27px;
    font-size: 16px;
    padding: 15px 20px;
    border: 1px solid #fff;
    transition: all .2s linear;
    & + .search-btn{
      margin-left: 25px;
    }
    &:hover{
      color: $btn;
      background-color: #fff;
      box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    }
  }
  &__form{
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    min-height: 135px;
    position: absolute;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    bottom: -68px;
    
    form{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    }
  }
}

.form__input{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  max-width: 805px;
  border: 1px solid #dcdcdc; 
  border-radius: 4px; 
  position: relative;
  input{
    max-width: 610px;
    width: 100%;
    padding: 15px 25px;
    color: $text;
    font-size: 16px;
    border: 0;
    background: none;
    &::placeholder{
      color: #676767;
    }
  }
  select{
    max-width: 195px;
    width: 100%;
    padding: 15px 55px 15px 20px;
    color: $text;
    background: none;
    border: 0;
    -webkit-appearance: none;
    appearance: none;
    font-family: inherit;
    font-size: 16px;
    border-left: 1px solid #dcdcdc;
  }
  .lnr-chevron-down{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    font-size: 12px;
    color: #676767;
    pointer-events: none;
  }
}

.form__btn{
  max-width: 225px;
  width: 100%;
  button{
    width: 100%;
    background-color: $btn;
    border: 0;
    border-radius: 4px;
    color: #fff;
    padding: 17px 60px;
  }
  
}
.search__form{
  &::before{
    content: "";
    max-width: 1112px;
    width: 100%;
    background-color: rgba(#fff, 0.5);
    display: block;
    border-radius: 5px;
    min-height: 135px;
    position: absolute;
    top: -13px;
    left: 15px;
    z-index: -2;
  }
  &::after{
    content: "";
    max-width: 1080px;
    width: 100%;
    background-color: rgba(#fff, 0.5);
    display: block;
    border-radius: 5px;
    min-height: 135px;
    position: absolute;
    top: -26px;
    left: 30px;
    z-index: -1;
  }
}

//end search
//start features
.features{
  margin-bottom: 120px;
  &__inner{
    display: flex;
    justify-content: space-between;
    &-item{
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 365px;
      width: 100%;
      padding: 40px 30px 45px;
      transition: all .3s;
      & + .features__inner-item{
        margin-left: 30px;
      }
      &:hover{
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
      }
    }
    &-title{
      font-size: 24px;
      color: #000;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    &-text{
      line-height: 30px;
      text-align: center;
    }
  }
}

//end features
//start featured-products
.featured-products{
  background-color: $header-bg;
  padding-top: 120px;
  padding-bottom: 120px;
  &__title{
    font-size: 30px;
    color: #000;
    background-color: #fff;
    padding: 35px 25px;
    margin-bottom: 50px;
    max-width: 1140px;
    min-height: 110px;
    width: 100%;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    position: relative;
  }
  &__item{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
    max-height: 450px;
    border-radius: 4px;
  }
  &__img{
    width: 100%;
    max-width: 555px;
    background: linear-gradient( 180deg, rgb(6,116,236) 0%, rgb(61,94,215) 46%, rgb(115,71,193) 100%);
    img{
      display: block;
      min-height: 450px;
      width: 555px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; 
      transition: all .3s linear;
    }
  }
  &__about{
    padding: 45px 45px 25px;
    &-title{
      font-size: 24px;
      font-weight: 500;
      color: #000;
      margin-bottom: 12px;
    }
  }
  &__author{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
    .author__avatar{
      min-width: 30px;
      height: 30px;
      border-radius: 50%;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      margin-right: 8px;
    }
    .author__name{
      font-size: 15px;
      color: #000;
      margin-right: 12px;
    }
    .author__category{
      font-size: 15px;
      color: #7347c1;
      margin-left: 8px;
    }
  }
  &__description{
    line-height: 30px;
    margin-bottom: 35px;
  }

  &__tags{
    padding-bottom: 40px;
    border-bottom: 1px solid #ececec;
    a{
      font-size: 15px;
      color: #868c96;
      background-color: #f1f3f6;
      padding: 5px 15px;
      border-radius: 14px;
      & + a {
        margin-left: 5px;
      }
    }
  }
  &__info{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
  }
}

.featured-products__prise{
  color: #fff;
  background-color: $btn;
  padding: 7px 18px;
  border-radius: 16px;
  font-weight: 500;
}

.release-products__prise{
  color: #0674ec;
  background-color: #e6f1fd;
}

.featured-products__popular{
  margin-right: auto;
  margin-left: 20px;
  .featured-products__like{
    color: $text;
  }
  .lnr-heart{
    color: $purple;
    margin-right: 9px;
  }
  .featured-products__buy{
    margin-left: 17px;
    color: $btn;
  }
  .lnr-cart{
    margin-right: 9px;
  }
}

.product__item-star{
  .rate-star{
    font-size: 17px;
  }
}

.featured-products__img-box{
  position: relative;
}
.products__img-btns{
  opacity: 0;
  transition: all .3s linear;
  position: absolute;
  top: 50%;
  transform: translate3d(0,-50%,0);
  z-index: 10;
  text-align: center;
  width: 100%;
}
.products__img-btn{
  text-align: center;
  color: #fff;
  border-radius: 27px;
  font-size: 15px;
  font-weight: 500;
  padding: 15px 20px;
  border: 1px solid #fff;
  background: none;
  min-width: 130px;
  transition: all .3s linear;
  & + .products__img-btn{
    margin-left: 10px;
  }
  &:hover{
    background-color: #fff;
    color: $btn;
  }
}

.featured-products__img-box:hover img{
  opacity: 0.1;
  transition: all .3s linear;
}

.featured-products__img-box:hover .products__img-btns{
  opacity: 1;
}

.slick-arrow{
  border: none;
  background: none;
  color: #fff;
  font-size: 14px;
  position: absolute;
  top: -110px;
  right: 55px;
  z-index: 2;
  padding: 0;
  &.slick-prev{
    right: 105px;
    &::before{
      content: "";
      position: absolute;
      width: 110px;
      height: 45px;
      display: block;
      background-color: $purple;
      border-radius: 23px;
      z-index: -1;
      top: -16px;
      left: -22px;
    }
  }
}

//end featured-products
//start release-products

.release-products{
  background-color: #f6f7fb;
  padding-top: 120px;
  padding-bottom: 120px;
  &__title{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    span{
      color: #747b86;
      font-size: 16px;
      padding-right: 25px;
      &::after{
        content: "";
        background-image: url(../images/icons/points.png);
        width: 5px;
        height: 20px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top:45px;
        right: 27px;
        z-index: 1;
      }
    }
  }
}

.release-products__btns{
  background-color: #fff;
  padding: 30px;
  max-width: 1140px;
  min-height: 90px;
  width: 100%;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  margin-bottom: 50px;
  button{
    font-size: 15px;
    color: #747b86;
    background-color: #f1f3f6;
    padding: 5px 15px;
    border-radius: 14px;
    border: none;
    &.mixitup-control-active{
      color: #fff;
      background-color: $btn ;
    }
    & + button{
      margin-left: 10px;
    }
  }
}

.release-products__box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.release-products__item{
  flex-direction: column;
  max-width: 362px;
  max-height: 100%;
  margin-bottom: 30px;
}

.release-products__img{
  img{
    min-height: 230px;
    width: 362px;
  }
}
.release-products__about{
  padding: 30px;
}
.release-products__about-title{
  font-size: 20px;
}

.release-products__info{
  border-top: 1px solid #ececec;
  margin-top: 0;
  padding: 15px 30px;
}

.release-products__description{
  margin-bottom: 0;
}
.release-products__like{
  margin-right: auto;
  margin-left: 12px;
  color: #6f7d8d;
  span{
    margin-right: 5px;
    color: #7347c1;
  }
}

.release-products__buy{
  color: #0674ec;
  span{
    margin-right: 5px;
  }
}

.new-products{
  margin: 30px auto 0;
  color: #fff;
  font-size: 16px;
  text-align: center;
  box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.1);
  background-color: #0674ec;
  border: none;
  padding: 15px 33px;
  border-radius: 27px;
  display: block;
  max-width: 193px;
}